* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.App {
  background-color: black;
}
h1 {
  color: white;
}
button {
  cursor: pointer;
}
/* .Header {
  color: white;
  padding: 20px;
} */

.listStyleNone {
  list-style: none;
}
